<h1>Biodata</h1>
<form action="/biodata" method="post">
  <label for="">FullName</label>
  <input type="text" name="FullName">
  <label for="">Age</label>
  <input type="number" name="Age">
  <label for="">Level</label>
  <input type="number" name="Level">
  <button type="submit">Register</button>
  <button><a href="/home">SKIP</a></button>
</form>
