<h1>Data</h1>
<%- include('./Table', data) %>

<form action="/register" method="get">
    <button>Create New User</button>
</form>
<a href="/login">Login</a>
<br>
<a href="/home">Home</a>



<h1>Biodata</h1>    <button><a href="/biodata">Register</a></button>
<%- include('./Table1',Biodata) %>



<h1>Histori</h1>