<h1>Login</h1>
<form action="/login" method="post">
    <label for="Username">Username</label>
    <input type="text" name="UserName" required>
    <label for="password">Password</label>
    <input type="text" name="Password" required>
  <button type="submit">Login</button>
</form>
<a href="/Register">Register</a>